@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');


body{
    margin: 1%;
    padding: 1%;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Lato';
    font-weight: bolder;
    background: #ff9966;  
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966); 
    background: linear-gradient(to right, #ff5e62, #ff9966); 

}

.instrucoes{
    border: 1px solid #ff8587;
}

.hr{
    border: 1px solid #ff8587;
}

#tutorial{
    margin: 0 auto;
    margin-bottom: 5vw; /*distancia da borda do tutorial para o jogo logo abaixo*/
    height: 100%;
    width: 50vw;
    padding: 1%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
#tutorial background-image{
    min-width: 100%;
    min-height:100%;
}

#tutorial > h1{
    text-align: center;
}

#tutorial > h2{
    font-size: 20px;
    text-align: center;
}

#tutorial > img{
    margin-left: 50%; 
    transform: translateX(-50%);
}

/* animacao do botao */
@keyframes blinkbutton{
    0%{opacity: 0.1;}
    100%{opacity: 1;
    text-shadow: 1px 0px 30px grey;}
    
}

button{
    width: 20vw;
    height: 8vh;
    margin-left: 50%;
    transform: translateX(-50%);
    animation: blinkbutton 1s infinite;
    background-color: tomato;
    border: 1px solid #f14d30;
    font-weight: bolder;
    font-size: 1rem; 
}

div#main {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.096);
}
 
.coluna{
    display: flex;
    flex-direction: column-reverse;
    width: 14vw;
    height: fit-content;
    color: black;
    border-left: 2vw solid #ff9366;
    margin: 0;
    margin-bottom: -2vw;
    padding: 0;
    border-radius: 10px;
}
#coluna6{
    border-right: 2vw solid #ff9366;
}

.p{
    display: flex;
    width: 5vw;
    height: 5vw;
    background-image: url(./imagens/play2.png); /* as bolas play2 = cinza */
    background-size: cover;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.v{
    display: flex;
    width: 5vw;
    height: 5vw;
    background-image: url(./imagens/play1.png); /* as bolas play1 = preto */
    background-size: cover;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

.coluna div{
    display: flex;
    width: 5vw;
    height: 5vw;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin-top: 1vw;
}

#discoAtual{
    padding: 2%;
    width: 5vw;
    margin-left: 50%;
    margin-bottom: 2%;
    transform: translateX(-50%);
}
#vez{
    padding: 1;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1%;
    font-family: 500px;
    font-family: 'Courier New', Courier, monospace;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main{
    border-bottom: 2vw solid #ff9366;
}


#discoAtual{
    padding: 2%;
    width: 5vw;
    margin-left: 50%;
    margin-bottom: 2%;
    transform: translateX(-50%);
}
#vez{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1%;
}


/* Modal (background) */
.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    
    margin: 15% auto; 
    padding: 20px;
    width: 50%; 
    background: #ff9966;  
    background: -webkit-linear-gradient(to right, #ff5e62, #ff9966);  
    background: linear-gradient(to right, #ff5e62, #ff9966);

  }
  

@media only screen and (max-width: 600px){

    p{
        text-align: justify;
        padding: 1%;
    }
}



/* mobile */
@media only screen and (max-width: 600px){

    p{
        text-align: justify;
        padding: 1%;
    }

    .coluna div{
        height: 8vw;
        width: 8vw;
        margin-top: 1vw;
    }

    #discoAtual{
        width: 8vw;
    }

    .v{
        width: 8vw;
        height: 8vw;
    }
    .p{
        width: 8vw;
        height: 8vw;
    }
}
